header {
  position: sticky;
  top: 0;
  z-index: 1000; /* Assurez-vous qu'il soit au-dessus des autres éléments */
  // background-color: rgba(255, 255, 255, 0.6); /* Couleur #0E1012 avec transparence */
  background-color: transparent;
  backdrop-filter: blur(8px); /* Effet de flou */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Ombre pour distinction */
}
