#bgImg {
  background-image: asset-url("bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  position: absolute;
  width: 100%;
  z-index: -1;
  opacity: 0.5;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#bgContainer {
  height: 400px; /* Même hauteur que #bgImg */
  display: flex;
  justify-content: center;
  align-items: center;
  // position: relative; /* Assure que le contenu reste au-dessus de l'image */

  h1, h2 {
    background: linear-gradient(to right, darkviolet, red); /* Dégradé du violet foncé au rouge */
    -webkit-background-clip: text; /* Applique le fond uniquement au texte */
    -webkit-text-fill-color: transparent; /* Rends le texte transparent pour voir le dégradé */
    font-weight: bold;
  }

  #btnMain {
    font-weight: bold;
    position: absolute;
    bottom: 10px;
    right: 10px;
  }

  #moviesCount {
    position: absolute;
    bottom: 10px;
    left: 10px;
  }

  #userList {
    position: absolute;
    bottom: 10px;
    right: 10px;
    margin: 0;
  }

  #addMoviesButton {
    position: absolute;
    bottom: 10px;
    right: 10px;
    margin: 0;
  }

}

/* Media query pour les petits écrans (mobiles) */
@media (max-width: 768px) {
  #bgImg {
    height: 300px;
    background-size: cover;
  }

  #bgContainer {
    height: 300px;
  }
}

/* Media query pour les très petits écrans (mobiles en mode portrait) */
@media (max-width: 480px) {
  #bgImg {
    height: 250px;
    background-size: cover;
  }

  #bgContainer {
    height: 250px;
  }
}
