#bgImg {
  background-image: asset-url("bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  position: absolute;
  width: 100%;
  z-index: -1;
  opacity: 0.5;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#bgContainer {
  height: 400px; /* Même hauteur que #bgImg */
  display: flex;
  justify-content: center;
  align-items: center;
  // position: relative; /* Assure que le contenu reste au-dessus de l'image */

  h1, h2 {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); // Ombre légère
    font-weight: bold;
  }

  #btnMain {
    font-weight: bold;
    transition: .5s;

    &:hover {
      background: transparent;
      color: #DC3444;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); // Ombre légère
    }
  }

  #moviesCount {
    position: absolute;
    bottom: 10px;
    right: 100px;
  }
}
