#flashContainer {
  position: relative;
}


#flashNotice, #flashAlert {
  position: absolute;
  display: block;
  top: 30px;
  right: 0;
  color: green;
  border: .5px solid green;
  border-radius: .5rem;
  background-color: rgba(4, 170, 4, 0.2);
  margin: 1rem auto;
  padding: .5rem;
  font-size: .8rem;
  font-weight: bold;
  z-index: 10;
}

#flashAlert {
  color: red;
  border: .5px solid red;
  background-color: rgba(255, 0, 0, 0.1);
}


/* Media query pour les très petits écrans (mobiles en mode portrait) */
@media (max-width: 480px) {
  #flashNotice, #flashAlert {
    text-align: center;
    left: 50%; /* Place le bord gauche de l'élément au milieu du conteneur parent */
    transform: translateX(-50%); /* Déplace l'élément vers la gauche de la moitié de sa largeur */
    top: 5px; /* Positionne l'élément verticalement */
    font-size: .6rem;
  }
}
