.rounded-circle {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border: 2px solid lightgray;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Ombre légère */
}

.reviewsPicture {
  width: 30px;
  height: 30px;
  box-shadow: none;
}
